<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buy.tsg.mapper.AuthApplyMessageMapper" >
  <resultMap id="BaseResultMap" type="com.buy.tsg.entity.AuthApplyMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="apply_name" property="applyName" jdbcType="VARCHAR" />
    <result column="apply_telphone" property="applyTelphone" jdbcType="VARCHAR" />
    <result column="submit_name" property="submitName" jdbcType="VARCHAR" />
    <result column="submit_telphone" property="submitTelphone" jdbcType="VARCHAR" />
    <result column="submit_time" property="submitTime" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="beizhu" property="beizhu" jdbcType="LONGVARCHAR" />
    <result column="defeatMessage" property="defeatmessage" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  
  
  <sql id="Base_Column_List" >
    id, apply_name, apply_telphone, submit_name, submit_telphone, submit_time, status
  </sql>
  <sql id="Blob_Column_List" >
    beizhu, defeatMessage
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_authapplymessage
    where id = #{id,jdbcType=INTEGER}
  </select>
  
   <!-- 如果有查询条件给查询添加条件 -->
    <sql id="wheresql">
       <where>
       		 and a.status = 0
       		<if test="queryapplyname!=null and queryapplyname!=''">
       			and a.apply_name like CONCAT('%',#{queryapplyname},'%')   
       		</if>
       		
       		<if test="queryapplyphone!=null and queryapplyphone!=''">
       			and a.apply_telphone like CONCAT('%',#{queryapplyphone},'%')   
       		</if>
       		
       		 <if test="querysubmitname!=null and querysubmitname!=''">
       			and a.submit_name like CONCAT('%',#{querysubmitname},'%')   
       		</if>
       		
       		
       		 <if test="querysubmitphone!=null and querysubmitphone!=''">
       			and a.submit_telphone like CONCAT('%',#{querysubmitphone},'%')  
       		</if>
       		
       		<if test="starttime!=null">
       			and a.submit_time >= #{starttime} 
       		</if>
       		
       		 <if test="endtime!=null">
       			and a.submit_time &lt;= #{endtime} 
       		</if>
       </where>
    </sql>
    
   <select id="getAuthApplyMessageAll" parameterType="com.buy.tsg.query.AuthApplyMessageQueryParameter"
 	 resultType="java.util.Map">
 	 
 	 	 select a.*,t.sex applysex from t_authapplymessage a right join t_loginuser t on t.username = a.apply_name

  		<include refid="wheresql"/>
  		limit #{beginIndex},#{pageSize} 
   </select>
   
   <select id="getTotalCount" parameterType="com.buy.tsg.query.AuthApplyMessageQueryParameter" resultType="int">
   		select count(*) from t_authapplymessage a <include refid="wheresql"/> 
   </select>
   
   <select id="selectSubmitTelphoneBysubmitName" parameterType="string" resultType="java.lang.String">
   		 select submit_telphone from t_authapplymessage where submit_name =#{submitName} and status = 0
   </select>
   
   <select id="selectAuthApplyMessageByApplyTelphone" parameterType="java.lang.String" 
   resultMap="BaseResultMap">
   		select * from t_authapplymessage where apply_telphone = #{applyTelphone} and status = 0
   </select>
   
   <select id="selectAuthApplyMessageByApplyMap" parameterType="map" resultMap="BaseResultMap">
   		select * from t_authapplymessage  where apply_name=#{applyName} and status=#{status}
   </select>
   
   <select id="selectAuthApplyMessageById" parameterType="int" resultMap="BaseResultMap">
   		select  * from t_authapplymessage where id=#{id} and status=0
   </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_authapplymessage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.buy.tsg.entity.AuthApplyMessage" >
    insert into t_authapplymessage (id, apply_name, apply_telphone, 
      submit_name, submit_telphone, submit_time, 
      status, beizhu, defeatMessage
      )
    values (#{id,jdbcType=INTEGER}, #{applyName,jdbcType=VARCHAR}, #{applyTelphone,jdbcType=VARCHAR}, 
      #{submitName,jdbcType=VARCHAR}, #{submitTelphone,jdbcType=VARCHAR}, #{submitTime,jdbcType=DATE}, 
      #{status,jdbcType=TINYINT}, #{beizhu,jdbcType=LONGVARCHAR}, #{defeatmessage,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.buy.tsg.entity.AuthApplyMessage" >
    insert into t_authapplymessage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applyName != null" >
        apply_name,
      </if>
      <if test="applyTelphone != null" >
        apply_telphone,
      </if>
      <if test="submitName != null" >
        submit_name,
      </if>
      <if test="submitTelphone != null" >
        submit_telphone,
      </if>
      <if test="submitTime != null" >
        submit_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="beizhu != null" >
        beizhu,
      </if>
      <if test="defeatmessage != null" >
        defeatMessage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applyName != null" >
        #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="applyTelphone != null" >
        #{applyTelphone,jdbcType=VARCHAR},
      </if>
      <if test="submitName != null" >
        #{submitName,jdbcType=VARCHAR},
      </if>
      <if test="submitTelphone != null" >
        #{submitTelphone,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="beizhu != null" >
        #{beizhu,jdbcType=LONGVARCHAR},
      </if>
      <if test="defeatmessage != null" >
        #{defeatmessage,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.buy.tsg.entity.AuthApplyMessage" >
    update t_authapplymessage
    <set >
      <if test="applyName != null" >
        apply_name = #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="applyTelphone != null" >
        apply_telphone = #{applyTelphone,jdbcType=VARCHAR},
      </if>
      <if test="submitName != null" >
        submit_name = #{submitName,jdbcType=VARCHAR},
      </if>
      <if test="submitTelphone != null" >
        submit_telphone = #{submitTelphone,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        submit_time = #{submitTime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="beizhu != null" >
        beizhu = #{beizhu,jdbcType=LONGVARCHAR},
      </if>
      <if test="defeatmessage != null" >
        defeatMessage = #{defeatmessage,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.buy.tsg.entity.AuthApplyMessage" >
    update t_authapplymessage
    set apply_name = #{applyName,jdbcType=VARCHAR},
      apply_telphone = #{applyTelphone,jdbcType=VARCHAR},
      submit_name = #{submitName,jdbcType=VARCHAR},
      submit_telphone = #{submitTelphone,jdbcType=VARCHAR},
      submit_time = #{submitTime,jdbcType=DATE},
      status = #{status,jdbcType=TINYINT},
      beizhu = #{beizhu,jdbcType=LONGVARCHAR},
      defeatMessage = #{defeatmessage,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>