<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<context:component-scan base-package="com.buy.tsg.service" >
	    <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>     
	</context:component-scan>
    <!-- 引入配置文件 -->  
    <bean id="propertyConfigurer"  
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="location" value="classpath:jdbc.properties" />  
    </bean>  
  
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"  
        destroy-method="close">  
        <property name="driverClassName" value="${driver}" />  
        <property name="url" value="${url}" />  
        <property name="username" value="${username}" />  
        <property name="password" value="${password}" />  
        <!-- 初始化连接大小 -->  
        <property name="initialSize" value="${initialSize}"></property>  
        <!-- 连接池最大数量 -->  
        <property name="maxActive" value="${maxActive}"></property>  
        <!-- 连接池最大空闲 -->  
        <property name="maxIdle" value="${maxIdle}"></property>  
        <!-- 连接池最小空闲 -->  
        <property name="minIdle" value="${minIdle}"></property>  
        <!-- 获取连接最大等待时间 -->  
        <property name="maxWait" value="${maxWait}"></property>  
    </bean>  
  
    <!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->  
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" />  
        <!-- 自动扫描mapping.xml文件 -->  
        <property name="mapperLocations" value="classpath:mapping/*.xml"></property>  
    </bean>  
    
  
    <!-- DAO接口所在包名，Spring会自动查找其下的类 -->  
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
        <property name="basePackage" value="com.buy.tsg.mapper" />  
    </bean>  
    	
  	<bean id="transactionManager"  
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="dataSource" />  
    </bean>  
    
    <!-- 开启注解事务 -->
<!--     <tx:annotation-driven transaction-manager="transactionManager"/> -->

	 <tx:advice id="txAdvice" transaction-manager="transactionManager">  
	        <tx:attributes>  
	            <tx:method name="save*" propagation="REQUIRED"/>  
	            <tx:method name="delete*" propagation="REQUIRED" />  
	            <tx:method name="update*" propagation="REQUIRED" />
	            <tx:method name="add*" propagation="REQUIRED" />  
	            <tx:method name="insert*" propagation="REQUIRED" />  
				<tx:method name="delete*" propagation="REQUIRED" />
		        <tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
				<tx:method name="find*" propagation="SUPPORTS" read-only="true"/>
				<tx:method name="load*" propagation="SUPPORTS" read-only="true"/>
				<tx:method name="search*" propagation="SUPPORTS" read-only="true"/>
				<tx:method name="datagrid*" propagation="SUPPORTS" read-only="true"/>
				<tx:method name="select" propagation="SUPPORTS" read-only="true" />
				<tx:method name="*" propagation="SUPPORTS" />
			  </tx:attributes>  
	  </tx:advice>  
	  
	  	<!-- 配置AOP切点 -->
		<aop:config>
			<!-- 配置AOP切点策略 -->
			<aop:pointcut expression="execution(* com.buy.tsg.service.*.*(..))" id="serviceImpl"/>
			<!-- 注入切点,切点策略 -->
			<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceImpl"/>
		</aop:config>
</beans>  